body {
    background-color: black;
    color: green;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 100px;
}

button {
    background-color: transparent;
    color: green;
    border: 2px solid green;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

button:hover {
    background-color: green;
    color: black;
    transform: scale(1.1);
}

#screenshots img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
    transition: transform 0.3s;
}

#screenshots img:hover {
    transform: scale(1.3);
}

.container {
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.info-section {
    margin-top: 20px;
    animation: fadeIn 2s;
}

.scrollable-info {
    max-height: 200px;
    overflow-y: auto;
    text-align: left;
    padding: 10px;
    border: 1px solid green;
    margin: 20px auto;
    width: 80%;
}
